@media (min-width: 500px) {
    main .description-container {
        height: 240px;
        padding: 20px 50px;
    }

    main .description-container .logo {
        width: 45px;
    }

    main .description-container h1 {
        font-size: 2.5rem;
    }

    main .description-container p {
        font-size: 1.4rem;
    }

    main .start {
        padding: 7px 20px;
        font-size: 1.4rem;
    }

    main .description {
        padding: 50px 50px 20px;
    }

    main .instruction-container {
        padding: 20px 50px;
    }

    main .instruction-container h2 {
        font-size: 2.2rem;
    }

    main .instruction-container > div {
        max-width: 380px;
        margin: 0 auto;
        padding: 25px 30px;
    }

    main .instruction-container > div h4 {
        font-size: 1.5rem;
    }
    
    main .effects-description-container {
        padding: 60px 50px 35px;
    }

    footer .social-media {
        padding: 50px 0;
    }

    footer .author h3 {
        font-size: 2.2rem;
    }

    footer p {
        font-size: 1.3rem;
    }
}

@media (min-width: 1024px) {
    main .description-container {
        height: 280px;
        padding: 20px 140px;
    }

    main .description-container h1 {
        font-size: 2.8rem;
    }

    main .description-container p {
        font-size: 1.5rem;
    }

    main .description {
        font-size: 1.5rem;
        padding: 50px 190px 20px;
    }

    main .instruction-container {
        max-width: 645px;
        padding: 20px 0;
        margin: 0 auto;
        gap: 30px;
    }

    main .instruction-container > div {
        max-width: 400px;
        padding: 30px 35px;
    }

    main .instruction-container > div h4 {
        font-size: 1.6rem;
    }

    main .instruction-container > div p {
        font-size: 1.4rem;
    }
    
    main .effects-description-container {
        padding: 70px 190px 35px;
    }

    main .effects-description-container .effects-description {
        font-size: 1.5rem;
    }

    footer .social-media {
        padding: 60px 0;
    }

    footer .social-media a {
        font-size: 1.5rem;
    }

    footer .author h3 {
        font-size: 2.5rem;
    }

    footer p {
        font-size: 1.4rem;
    }
}